<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guilds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- 
    /guilds/all
    /guilds/appinv

    Ion list:

    - create a guild for 100m

    Active Invites:

    - show all active invites

    Active Applications: 

    - show all active applications

    All Guilds:

    Show all guilds

    notes:
    - Show Guild Level

  -->
</ion-content>
