<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="(gameService.player$ | async) as player">
    <ion-row *ngFor="let slot of slots">
      <ion-col>
        <app-item [item]="player.$inventoryData.equipment[slot]" [slot]="slot"></app-item>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
