
.stat-icon {
  margin-right: 5px;
}

.type-name {
  margin-right: 5px;
  min-width: 125px;
}

.score-percent, .found-at {
  font-size: 0.75rem;
  opacity: 0.7;
}

.score-percent {
  margin-right: 5px;
  min-width: 50px;
  text-align: center;
}

.found-at {
  margin-left: 5px;
}

.canvas-container {
  height: 100%;
}

.stat-fixed-width {
  display: inline-block;
  min-width: 40px;
}