<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Active Pet Gear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="(gameService.player$ | async) as player">
    <ng-container *ngIf="player.$petsData.allPets[player.$petsData.currentPet] as pet">
      <ng-container *ngFor="let equipSlot of slots">
        <ion-row *ngFor="let item of pet.equipment[equipSlot]">
          <ion-col>
            <app-item [item]="item" 
                      [slot]="equipSlot" 
                      (itemMenu)="openItemMenu($event, item, equipSlot)"></app-item>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
