
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current">
      <ion-icon [src]="'assets/icon/category-pet.svg'"></ion-icon>
      <ion-label>Active Pet Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all">
      <ion-icon [src]="'assets/icon/category-allpets.svg'"></ion-icon>
      <ion-label>All Pets</ion-label>

      <!-- tabs must request data like this or it doesn't work -->
      <ng-container *ngIf="(gameService.player$ | async) as player">
        <ion-badge *ngIf="player.$petsData && player.$petsData.buyablePets.length" color="secondary">{{ player.$petsData.buyablePets.length }}</ion-badge>
      </ng-container>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>