

:host {
  height: 24px !important;
  width: 24px !important;
}

:host img {
  width: 16px;
  height: 16px;
  object-fit: none;
  transform: scale(2, 2);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
