
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon [src]="'assets/icon/category-guildoverview.svg'"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buildings">
      <ion-icon [src]="'assets/icon/category-guildbuildings.svg'"></ion-icon>
      <ion-label>Buildings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="members">
      <ion-icon [src]="'assets/icon/category-guildsettings.svg'"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>