<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Combat - {{ combat.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="blank-slate" *ngIf="!isLoaded">
    <ion-spinner></ion-spinner> &nbsp; Loading...
  </div>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        {{ combat.name }}
        <br>
        ({{ combat.timestamp | date:'medium' }})
      </ion-item-divider>
      <ion-item>
        <ion-row class="full-width ion-flex-wrap">
          <ion-col *ngFor="let combatParty of combat.parties | keyvalue" size-xs="12" size-md="6">
            <div>
              <strong>{{ combatParty.value.name }}</strong>
            </div>
            <div *ngFor="let combatCharacter of combat.characters | keyvalue" [class.ion-hide]="combatCharacter.key !== combatParty.key">
              {{ combatCharacter.value.name }} (Level {{ combatCharacter.value.level | number }} 
              {{ combatCharacter.value.attribute }} {{ combatCharacter.value.affinity }} {{ combatCharacter.value.profession }})
              [HP {{ combatCharacter.value.stats.hp | number }}]
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>Combat Log</ion-item-divider>
      <ion-item *ngFor="let message of combatMessages">
        <ng-container [ngSwitch]="message.message">
          <ng-container *ngSwitchCase="'__summary'">
            <ng-container *ngTemplateOutlet="summary; context: { combat: message.data }"></ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ message.message }}
          </ng-container>
        </ng-container>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>Results</ion-item-divider>
      <ion-item *ngFor="let message of summaryMessages">
        {{ message }}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ng-template #summary let-combat="combat">
  <ion-row class="full-width">
    <ion-col>
      <ion-row class="ion-flex-wrap">
        <ion-col class="ion-text-center">
          «Round {{ combat.currentRound + 1 }}»
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-flex-wrap">
        <ion-col size-xs="12" 
                 size-md="6" 
                 *ngFor="let combatCharacter of combat.characters | keyvalue" 
                 class="ion-text-center"
                 [class.dead-combatant]="combatCharacter.value.stats.hp <= 0">
          <div>
            <strong>{{ combatCharacter.value.name }}</strong> [HP {{ combatCharacter.value.stats.hp | number }}]
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ng-template>
