<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="(gameService.player$ | async) as player">
    <div class="blank-slate" *ngIf="(player?.$petsData?.allPets | keyvalue)?.length === 0">
      You have no pets.
    </div>

    <ion-list>
      <ion-item-group>
        <ion-item *ngFor="let pet of player?.$petsData?.allPets | keyvalue">
  
          <app-gendervatar slot="start" [gender]="pet.value.gender"></app-gendervatar> 
  
          <ion-label class="ion-text-wrap">
            <h3>
              {{ pet.value.name }}, the {{ pet.value.attribute }} {{ pet.value.affinity }}
            </h3>
            <p class="vertical-center">
              Level {{ pet.value.level.__current }}/{{ pet.value.level.maximum }}
              &nbsp;
              <ion-badge color="tertiary">{{ pet.value.rating }}★{{ pet.key }}</ion-badge>
            </p>
          </ion-label>
  
          <ion-button slot="end" size="small" *ngIf="player.$petsData.currentPet !== pet.key" (click)="activate(pet.key)">Activate</ion-button>
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="(player.$petsData.buyablePets | keyvalue).length > 0">
        <ion-list-header>Purchaseable Pets</ion-list-header>
        <ion-item *ngFor="let newPet of player.$petsData.buyablePets | keyvalue">
          <ion-label>
            {{ newPet.key }}
          </ion-label>

          <ion-button size="small" slot="end" [disabled]="player.gold < newPet.value" (click)="buyPet(newPet.key)">
            Buy for {{ newPet.value | number }} gold
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>
