
.chat-container {
  height: 100%;
  
  .chat-area {
    display: flex;
    flex-direction: column;
  
    height: 100%;

    .motd-area {
      border-bottom: 1px solid #000;
      min-height: 50px;
    }
  
    .output-area {
      flex-grow: 1;

      overflow-x: hidden;
      overflow-y: scroll;

      .chat-message:last-child {
        --inner-border-width: 0 0 0 0;
      }
    }
    
    .input-area {
      border-top: 1px solid #000;

      .button-col {
        max-width: 70px;
      }
    }
  }
}

.chat-author {
  font-weight: bold;
}

.chat-timestamp {
  margin-left: 5px;
  font-size: 0.6rem;
  font-style: italic;
}

.chat-discord {
  margin-right: 5px;
  font-size: 0.6rem;
}