// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

@import './mobile.scss';

.true-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.header-image {
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.big-item {
  img {
    margin-left: 10px;
  }
}

ion-select {
  width: 100%;
  max-width: 100%;
}

ion-alert .alert-wrapper {
  --min-width: 400px;
}

.stat-trail-table, .odds-table, .party-table {
  border-spacing: 1px;
  width: 100%;

  td {
    padding: 5px;
    border: 1px solid #666;

    &:first-child {
      text-align: right;
      white-space: normal;
      overflow-wrap: break-word;
    }

    .move-right {
      float: right;
    }
  }
}

.party-table {
  td:first-child {
    max-width: 125px;
  }
}

.item-compare-modal {

  .alert-message {
    max-height: 350px;
  }

  .item-compare-table {
    border-spacing: 1px;
    width: 100%;

    td {
      padding: 5px;
      border: 1px solid #666;

      &.desc {
        width: 100px;
        font-weight: bold;

        .desc-container {
          display: flex;
          justify-content: space-around;
          color: var(--ion-color-base);
        }
      }

      &.stat-container {
        color: var(--ion-color-base);
      }
    }
  }
}

.blank-slate {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.menu-bottom-left {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.thought-bubble {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 35px;
  border-radius: 40%
}

.thought-bubble-1, .thought-bubble-2, .thought-bubble-3 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--ion-color-secondary) !important;
}

.thought-bubble-1 {
  left: 22px;
  top: 27px;
  width: 8px;
  height: 8px;
}

.thought-bubble-2 {
  left: 31px;
  top: 32px;
  width: 6px;
  height: 6px;
}

.thought-bubble-3 {
  left: 38px;
  top: 36px;
  width: 4px;
  height: 4px;
}

.clickable {
  cursor: pointer;
}

.translucent-popover {
  opacity: 0.7;
}

.full-width {
  width: 100%;
}

.player-menu app-gendervatar {
  padding-left: 10px;
}

.discord-emoji {
  max-height: 18px !important;
  max-width: 18px !important;
}

ion-progress-bar {
  border: 1px solid var(--ion-color-medium);
}

@media screen and (min-width: 768px) {
  ion-alert .alert-wrapper {
    --width: 600px;
    --min-width: 600px;
  }
}

.clay {
  color: #835A36;
}

.wood {
  color: #966F33;
}

.stone {
  color: #38464B;
}

.astralium {
  color: #9400D3;
}

.crystal-green {
  color: forestgreen;
}

.crystal-yellow {
  color: goldenrod;
}

.crystal-blue {
  color: cadetblue;
}

.crystal-red {
  color: maroon;
}

.crystal-purple {
  color: purple;
}

.crystal-orange {
  color: orange;
}

.crystal-astral {
  color: #ccc;
}

.gold {
  color: gold;
}

.ion-color-light{
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.gate-reward-table .alert-message{
  max-height: 80%;
}
