
:root.theme-Dark {
  --ion-color-primary: #222428;
  --ion-color-primary-rgb: 34, 34, 34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e2023;
  --ion-color-primary-tint: #383a3e;

  --ion-color-secondary: #55575B;
  --ion-color-secondary-rgb: 85,87,91;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #4b4d50;
  --ion-color-secondary-tint: #66686b;

  --ion-color-tertiary: #000180;
  --ion-color-tertiary-rgb: 0,1,128;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #000171;
  --ion-color-tertiary-tint: #1a1a8d;

  --ion-color-success: #005D00;
  --ion-color-success-rgb: 0,93,0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #005200;
  --ion-color-success-tint: #1a6d1a;

  --ion-color-danger: #710000;
  --ion-color-danger-rgb: 113,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #630000;
  --ion-color-danger-tint: #7f1a1a;

  --ion-border-color: var(--ion-color-primary);
  --ion-background-color: var(--ion-color-secondary);
  --ion-background-color-rgb: var(--ion-color-secondary-rgb);
  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light-rgb);

  --ion-color-step-50: #232323;
  --ion-color-step-100: #2e2e2e;
  --ion-color-step-150: #3a3a3a;
  --ion-color-step-200: #454545;
  --ion-color-step-250: #515151;
  --ion-color-step-300: #5d5d5d;
  --ion-color-step-350: #8b8b8b;
  --ion-color-step-400: #747474;
  --ion-color-step-450: #7f7f7f;
  --ion-color-step-500: #8b8b8b;
  --ion-color-step-550: #979797;
  --ion-color-step-600: #a2a2a2;
  --ion-color-step-650: #aeaeae;
  --ion-color-step-700: #b9b9b9;
  --ion-color-step-750: #c5c5c5;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f3;

  tspan {
    fill: #fff;
  }

  ion-toast {
    --background: var(--ion-color-primary);
    --color: #fff;
    --button-color: #fff;
  }
}