// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #7044ff;
  --ion-color-primary-rgb: 112, 68, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #633ce0;
  --ion-color-primary-tint: #7e57ff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #3880ff;
  --ion-color-tertiary-rgb: 56, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3171e0;
  --ion-color-tertiary-tint: #4c8dff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** ITEM COLORS **/
  --ion-color-newbie: #008080;
  --ion-color-newbie-rgb: 0, 128, 128;
  --ion-color-newbie-contrast: #ffffff;
  --ion-color-newbie-contrast-rgb: 255, 255, 255;
  --ion-color-newbie-shade: #007171;
  --ion-color-newbie-tint: #1a8d8d;

  --ion-color-basic: #808080;
  --ion-color-basic-rgb: 128, 128, 128;
  --ion-color-basic-contrast: #000000;
  --ion-color-basic-contrast-rgb: 0, 0, 0;
  --ion-color-basic-shade: #717171;
  --ion-color-basic-tint: #8d8d8d;

  --ion-color-pro: #800080;
  --ion-color-pro-rgb: 128, 0, 128;
  --ion-color-pro-contrast: #ffffff;
  --ion-color-pro-contrast-rgb: 255, 255, 255;
  --ion-color-pro-shade: #710071;
  --ion-color-pro-tint: #8d1a8d;

  --ion-color-idle: #00ff00;
  --ion-color-idle-rgb: 0, 255, 0;
  --ion-color-idle-contrast: #000000;
  --ion-color-idle-contrast-rgb: 0, 0, 0;
  --ion-color-idle-shade: #00e000;
  --ion-color-idle-tint: #1aff1a;

  --ion-color-godly: #000000;
  --ion-color-godly-rgb: 0, 0, 0;
  --ion-color-godly-contrast: #ffffff;
  --ion-color-godly-contrast-rgb: 255, 255, 255;
  --ion-color-godly-shade: #000000;
  --ion-color-godly-tint: #1a1a1a;

  --ion-color-goatly: #ffffff;
  --ion-color-goatly-rgb: 255, 255, 255;
  --ion-color-goatly-contrast: #000000;
  --ion-color-goatly-contrast-rgb: 0, 0, 0;
  --ion-color-goatly-shade: #e0e0e0;
  --ion-color-goatly-tint: #ffffff;

  --ion-color-omega: #ff0000;
  --ion-color-omega-rgb: 255, 0, 0;
  --ion-color-omega-contrast: #ffffff;
  --ion-color-omega-contrast-rgb: 255, 255, 255;
  --ion-color-omega-shade: #e00000;
  --ion-color-omega-tint: #ff1a1a;

  --ion-color-guardian: #0000ff;
  --ion-color-guardian-rgb: 0, 0, 255;
  --ion-color-guardian-contrast: #ffffff;
  --ion-color-guardian-contrast-rgb: 255, 255, 255;
  --ion-color-guardian-shade: #0000e0;
  --ion-color-guardian-tint: #1a1aff;
}

$customColors: ('newbie', 'basic', 'pro', 'idle', 'godly', 'goatly', 'omega', 'guardian');
  @each $color in $customColors {
  .ion-color-#{$color} {
  --ion-color-base: var(--ion-color-#{$color}) !important;
  --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
  --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
  --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-border-color: var(--ion-color-dark-shade);
    --ion-background-color: var(--ion-color-dark);
    --ion-background-color-rgb: var(--ion-color-dark-rgb);
    --ion-text-color: var(--ion-color-light);
    --ion-text-color-rgb: var(--ion-color-light-rgb);

    --ion-color-step-50: #232323;
    --ion-color-step-100: #2e2e2e;
    --ion-color-step-150: #3a3a3a;
    --ion-color-step-200: #454545;
    --ion-color-step-250: #515151;
    --ion-color-step-300: #5d5d5d;
    --ion-color-step-350: #8b8b8b;
    --ion-color-step-400: #747474;
    --ion-color-step-450: #7f7f7f;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #aeaeae;
    --ion-color-step-700: #b9b9b9;
    --ion-color-step-750: #c5c5c5;
    --ion-color-step-800: #d1d1d1;
    --ion-color-step-850: #dcdcdc;
    --ion-color-step-900: #e8e8e8;
    --ion-color-step-950: #f3f3f3;
  }
}

@import './amoled.theme.scss';
@import './bloodmoon.theme.scss';
@import './brightsun.theme.scss';
@import './dimocean.theme.scss';
@import './dark.theme.scss';
@import './leet.theme.scss';
@import './lavendertown.theme.scss';
@import './pasture.theme.scss';
@import './rainbowroad.theme.scss';
@import './yinyang.theme.scss';