<ion-app>
  <ion-split-pane [disabled]="hiddenSplitPane">
    <ion-menu>

      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="theCloud()">
              <ion-icon [name]="(gameService.status$ | async) === 1 ? 'cloud' : 'cloud-outline'"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>IdleLands</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-margin-bottom">

        <ion-list>
          <ion-item class="big-item" 
                    *ngIf="(gameService.player$ | async) as player" 
                    [routerDirection]="'root'"
                    [routerLink]="['/character']">
            <app-gendervatar slot="start" [gender]="player.gender"></app-gendervatar> 
            
            <ion-label>
              {{ player.name }}<span *ngIf="player.title">, the {{ player.title }}</span>
              <p>Level {{ player.level.__current }}/{{ player.level.maximum }} {{ player.profession }}</p>
              <p>{{ player.map }}</p>
            </ion-label>

            <circle-progress
              slot="end"
              [percent]="(player.xp.__current / player.xp.maximum) * 100"
              [radius]="20"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="''"
              [showSubtitle]="false"
              [showUnits]="false"
              [animation]="false"
              [renderOnClick]="false"
              [title]="player.ascensionLevel > 0 ? player.ascensionLevel : 'XP'"
              [backgroundStroke]="'#C7E596'"
              [backgroundStrokeWidth]="4"
              [animationDuration]="300"
            ></circle-progress>

          </ion-item>

          <ion-item *ngIf="canUpdate" (click)="doAppUpdate()">
            <ion-icon slot="start" name="logo-ionic"></ion-icon> Update available! Click to update.
          </ion-item>

          <ion-item *ngIf="a2hsPrompt" (click)="a2hs()">
            <ion-icon slot="start" name="add"></ion-icon> Add to Homescreen
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">

            <ion-item [routerDirection]="'root'" 
                      [routerLink]="[page.url]" 
                      [queryParams]="page.queryParams">

              <ion-icon slot="start" [src]="'assets/icon/category-' + page.icon + '.svg'"></ion-icon>

              <ion-label>
                {{ page.name }}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>

          <ion-item (click)="logout()">
            <ion-icon slot="start" [src]="'assets/icon/category-logout.svg'"></ion-icon>

            <ion-label>
              Logout
            </ion-label>
          </ion-item>
          
        </ion-list>
      </ion-content>
      
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>