<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sup Moderators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="gameService.player$ | async as player">
    <ion-row *ngIf="!player.modTier">
      <ion-col size-xs="12" offset-xs="0" size-md="6" offset-md="3" class="ion-padding">

        <ion-card>
          <ion-card-content class="error-card">
            Like, what are you doing here?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="player.modTier > 0">
      <ion-col size-xs="12" offset-xs="0" size-md="6" offset-md="3" class="ion-padding">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Chat Moderator Actions</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item (click)="toggleMutes()" button><ion-icon name="cloud" slot="start"></ion-icon> Toggle Player Mute</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="player.modTier > 1">
      <ion-col size-xs="12" offset-xs="0" size-md="6" offset-md="3" class="ion-padding">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Game Moderator Actions</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-list-header>Global Modifications</ion-list-header>
              <ion-item (click)="setMOTD()" button><ion-icon name="paper" slot="start"></ion-icon> Set MOTD</ion-item>
              <ion-item (click)="createFestival()" button><ion-icon name="planet" slot="start"></ion-icon> Start Festival</ion-item>
              <ion-item (click)="resetGlobal()" button color="warning"><ion-icon name="bonfire" slot="start"></ion-icon> Reset All Global Quests</ion-item>

              <ion-list-header>Player-specific Modifications (cloud = online/offline)</ion-list-header>
              <ion-item (click)="setPlayerId()" button><ion-icon name="cloud-outline" slot="start"></ion-icon> Change Player Id</ion-item>
              <ion-item (click)="setStatistic()" button><ion-icon name="cloud" slot="start"></ion-icon> Set Statistic</ion-item>
              <ion-item (click)="setName()" button><ion-icon name="cloud-outline" slot="start"></ion-icon> Set Name</ion-item>
              <ion-item (click)="setLevel()" button><ion-icon name="cloud" slot="start"></ion-icon> Set Level</ion-item>
              <ion-item (click)="setClassTarget()" button><ion-icon name="cloud" slot="start"></ion-icon> Set Class</ion-item>
              <ion-item (click)="setPlayerLocation()" button color="cloud"><ion-icon name="cloud" slot="start"></ion-icon> Set Location</ion-item>
              <ion-item (click)="giveILP()" button><ion-icon name="cloud" slot="start"></ion-icon> Give ILP</ion-item>
              <ion-item (click)="giveGold()" button><ion-icon name="cloud" slot="start"></ion-icon> Give Gold</ion-item>
              <ion-item (click)="giveItem()" button><ion-icon name="cloud" slot="start"></ion-icon> Give Item</ion-item>
              <ion-item (click)="giveEvent()" button disabled><ion-icon name="cloud" slot="start"></ion-icon> Give Event</ion-item>

              <ion-list-header>Guild-specific modifications</ion-list-header>
              <ion-item (click)="giveGuildResources()" button>Give Guild Resources</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="player.modTier > 4">
      <ion-col size-xs="12" offset-xs="0" size-md="6" offset-md="3" class="ion-padding">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Admin Actions</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item (click)="toggleMods()" button>
                <ion-icon name="star-outline" slot="start"></ion-icon><ion-icon name="star-half" slot="start"></ion-icon> Manage Chat/Game Mods
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
